<article class="top-main-section">
  <section class="top-sidebar" id="top-sidebar">
    <button class="top-sidebar-close-navbar-btn" id="top-sidebar-close-navbar-btn">
      <span class="material-symbols-rounded"> close </span>
    </button>

    <a href="#" class="top-sidebar-logo">
      <span class="icon material-symbols-rounded">radio_button_checked</span>
      <span class="link-text">Top.</span>
    </a>

    <section class="top-sidebar-links-menu">
    </section>
  </section>

  <section class="top-container">
    <section class="navbar">
      <section class="top-navbar-leftside-content">
        <h2 class="top-title-1">Welcome to TOP.</h2>
        <h5 class="top-title-5 user-name">Hello Bruno, welcome back!</h5>
      </section>

      <section class="top-navbar-rightside-content">
        <section class="top-navbar-rightside-button-set">
          <a href="#" class="button">
            <span class="material-symbols-rounded"> chat </span>
          </a>

          <a href="#" class="button top-navbar-notification">
            <span class="material-symbols-rounded"> notifications_active </span>
          </a>

          <a href="#" class="top-navbar-profile">
            <img src="./assets/img/profile_pics/profile1.webp" width="16" />
          </a>

          <button class="top-navbar-btn-menu">
            <span class="material-symbols-rounded"> menu </span>
          </button>
        </section>
      </section>
    </section>

    <section class="top-container-content " id="appChild"></section>
  </section>
</article>