:root {
	--font-poppins: "Poppins", sans-serif;
	--font-roboto: "Roboto", sans-serif;

	--font-primary-1: rgb(37, 37, 61);
	--font-primary-2: rgb(0, 124, 133);
	--font-primary-3: rgb(29, 171, 183);
	--font-secondary-1: rgb(255, 53, 94);
	--font-secondary-2: rgb(229, 25, 67);
	--font-secondary-3: rgb(245, 186, 89);

	--font-gray-dark-2: rgb(112, 112, 112);
	--font-gray-dark-1: rgb(168, 168, 168);
	--font-gray: rgb(217, 217, 217);
	--font-gray-light-1: rgb(244, 244, 245);
	--font-gray-light-2: rgb(249, 250, 251);

	--font-white: rgb(255, 255, 255);
	--font-black: rgb(0, 0, 0);
	--color-primary-2: #181250;
}
