<section class="top-breadcrumbs">
  <section class="top-breadcrumbs-left">
    <a href="#/top/home" class="top-breadcrumbs-left-item">Home</a>
    <a href="#/top/home" class="top-breadcrumbs-left-item">User</a>
    <a href="#/top/profile-information" class="top-breadcrumbs-left-item is-active">Profile Information</a>
  </section>
  <label class="top-breadcrumbs-right">MODULE USER</label>
</section>

<section class="container top-module-container">
  <section class="header-card-title">
    <span class="material-symbols-rounded">settings_account_box</span>
    <label>PROFILE INFORMATION</label>
  </section>
  <section class="top-module-body">
    <section class="row">
      <section class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <section class="top-profile-section-information-field field--size-big">
          <label class="top-text-sm field-label--text-shadow field-label--stretch-text">
            First Name
          </label>
          <label id="firstName" class="field-label--background-transparent field-label--stretch-text">
            Jon
          </label>
        </section>
        <section class="top-profile-section-information-field field--size-big">
          <label class="top-text-sm field-label--text-shadow field-label--stretch-text">Last Name</label>
          <label id="lastName" class="field-label--background-transparent field-label--stretch-text">Miller</label>
        </section>
        <section class="row">
          <section class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <section class="top-profile-section-information-field field--size-small">
              <label class="top-text-sm field-label--text-shadow field-label--stretch-text">Nick Name</label>
              <label id="nickName" class="field-label--background-transparent field-label--stretch-text">DJ</label>
            </section>
          </section>
          <section class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <section class="top-profile-section-information-field field--size-small">
              <label class="top-text-sm field-label--text-shadow field-label--stretch-text">Birthday</label>
              <label id="birthday" class="field-label--background-transparent field-label--stretch-text">
                01/01/1987
              </label>
            </section>
          </section>
        </section>
        <section class="top-profile-section-information-field field--size-small">
          <label class="top-text-sm field-label--text-shadow field-label--stretch-text">Country</label>
          <label id="country" class="field-label--background-transparent field-label--stretch-text">
            Bolivia
          </label>
        </section>

      </section>
      <section class="avatar--flex-order col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <section class="top-profile-container-avatar">
          <figure style="display: flex" class="top-profile-container-avatar-figure">
            <img src="../../../../assets/img/1.jpg" alt="employee" id="choose-image"
              class="top-profile-container-figure-img" />
          </figure>
        </section>
      </section>
    </section>
  </section>
</section>